# Agility CMS SDK Configuration
AGILITY_GUID=f3866b86-u
AGILITY_API_KEY=defaultpreview.2672a9e1f5f8fade023029763b540c64eabfab48f92e693fa01081d845783dca
AGILITY_LOCALES=en-us
AGILITY_SITEMAP=website
AGILITY_API_ISPREVIEW=true
AGILITY_MANAGEMENT_API_BASE_URL=https://mgmt.aglty.io

# Test Environment Selection (dev, prod, prod-aus, prod-ca, prod-eu, preprod-contentserver, preprod-fetchapi)
TEST_ENV=dev

# Azure Storage Configuration (for token management)
STORAGE_ACCOUNT=agilitydevstorage
STORAGE_ACCOUNT_KEY=0gMvadhiKgr04J0u0dlui8gaH6rY8kRo46vNvG/JmGAmzhMqsQ7V+bonmZOVgqMOo9STt0xyEToHBpJFjVeR/w==
STORAGE_ACCOUNT_TABLE=TokenInfo

# Dev Environment Configuration
DEV_GUID=c741222b-1080-45f6-9a7f-982381c5a485
DEV_API_KEY_FETCH=UnitTestsFetch.2ace650991363fbcffa6776d411d1b0d616b8e3424ce842b81cba7af0039197e
DEV_API_KEY_PREVIEW=UnitTestsPreview.69e6bca345ced0b7ca5ab358b351ea5c870790a5945c25d749a865332906b124
DEV_WEBSITE_NAME=Headless Integration Testing
DEV_SECURITY_KEY=SABlAGEAZABsAGUAcwBzACAASQBuAHQAZQBnAHIAYQB0AGkAbwBuACAAVABlAHMAdABpAG4AZwAtAEEANwA5ADUANAAxAEMANQAtAEUAQgAzADIALQA0ADYAMwBCAC0AQgBBADYANgAtADkARQBDAEMANwBCADYAOAA3ADYANQBFAA==
DEV_CONTENT_SERVER_BASE_URL=https://dev-contentserver.publishwithagility.com
DEV_FETCH_API_BASE_URL=https://api-dev.aglty.io
DEV_DIRECT_FETCH_API_BASE_URL=http://agility-fetch-api-dev.azurewebsites.net
DEV_MANAGEMENT_API_BASE_URL=https://mgmt-dev.aglty.io

# Production Environment Configuration
PROD_GUID=9de2e54a-ff2f-426c-b424-08ff5f86fa89
PROD_API_KEY_FETCH=defaultlive.b47f945a9af1a76e3f8f78d2f00b314e22bab26f23f3db6e1d22133be00243ac
PROD_API_KEY_PREVIEW=defaultpreview.2d48ab74ab1337b444207510d89988aedf07300bbba33e6771ed0b5d825d47b5
PROD_WEBSITE_NAME=Headless Integration Testing
PROD_SECURITY_KEY=SABlAGEAZABsAGUAcwBzACAASQBuAHQAZQBnAHIAYQB0AGkAbwBuACAAVABlAHMAdABpAG4AZwAtAEEANwA5ADUANAAxAEMANQAtAEUAQgAzADIALQA0ADYAMwBCAC0AQgBBADYANgAtADkARQBDAEMANwBCADYAOAA3ADYANQBFAA==
PROD_CONTENT_SERVER_BASE_URL=https://contentserver1503.agilitycms.com
PROD_FETCH_API_BASE_URL=https://api.aglty.io
PROD_DIRECT_FETCH_API_BASE_URL=https://agility-fetch-api-usa.azurewebsites.net
PROD_MANAGEMENT_API_BASE_URL=https://mgmt.aglty.io

# Production Australia Environment Configuration
PROD_AUS_GUID=6155f68e-a
PROD_AUS_API_KEY_FETCH=fetch.c89b614a7355f459fa849c1bb2e2fb7d389551317fd35a170c482ab1c52098a1
PROD_AUS_API_KEY_PREVIEW=preview.8ad5baa258698b3faf9ce7f420b43d2ea6384b4d3cf610b8e280c7d5c1ba00be
PROD_AUS_WEBSITE_NAME=Headless Integration Testing - AUS
PROD_AUS_SECURITY_KEY=SABlAGEAZABsAGUAcwBzACAASQBuAHQAZQBnAHIAYQB0AGkAbwBuACAAVABlAHMAdABpAG4AZwAtAEEANwA5ADUANAAxAEMANQAtAEUAQgAzADIALQA0ADYAMwBCAC0AQgBBADYANgAtADkARQBDAEMANwBCADYAOAA3ADYANQBFAA==
PROD_AUS_CONTENT_SERVER_BASE_URL=https://contentserver-aus.agilitycms.com
PROD_AUS_FETCH_API_BASE_URL=https://api-aus.aglty.io
PROD_AUS_DIRECT_FETCH_API_BASE_URL=https://agility-fetch-api-aus.azurewebsites.net/
PROD_AUS_MANAGEMENT_API_BASE_URL=https://mgmt-aus.aglty.io

# Production Canada Environment Configuration
PROD_CA_GUID=9de2e54a-ff2f-426c-b424-190060970b9a
PROD_CA_API_KEY_FETCH=Fetch.de1ff4693f4dd06cb2f350e901ac994fd9b2b1c692ff34ada13776b21be7abc2
PROD_CA_API_KEY_PREVIEW=Preview.c7450fccf0089edc128fdd7954269b61ba363f63b409ece79c007596e722f205
PROD_CA_WEBSITE_NAME=Headless Integration Testing - CA
PROD_CA_SECURITY_KEY=SABlAGEAZABsAGUAcwBzACAASQBuAHQAZQBnAHIAYQB0AGkAbwBuACAAVABlAHMAdABpAG4AZwAtAEEANwA5ADUANAAxAEMANQAtAEUAQgAzADIALQA0ADYAMwBCAC0AQgBBADYANgAtADkARQBDAEMANwBCADYAOAA3ADYANQBFAA==
PROD_CA_CONTENT_SERVER_BASE_URL=https://contentserver-ca.agilitycms.com
PROD_CA_FETCH_API_BASE_URL=https://api-ca.aglty.io
PROD_CA_DIRECT_FETCH_API_BASE_URL=https://agility-fetch-api-canada.azurewebsites.net
PROD_CA_MANAGEMENT_API_BASE_URL=https://mgmt-ca.aglty.io

# Production Europe Environment Configuration
PROD_EU_GUID=9de2e54a-ff2f-426c-b424-201171a81cab
PROD_EU_API_KEY_FETCH=Fetch.2c4e5d26008c0c964d2da5fe99714163b996696424c375c3c9ef44326405e702
PROD_EU_API_KEY_PREVIEW=Preview.64254d904a0cc4011f4d582b4a93e5e56fd0f2f516f190477ada67c322ee8a17
PROD_EU_WEBSITE_NAME=Headless Integration Testing - EU
PROD_EU_SECURITY_KEY=SABlAGEAZABsAGUAcwBzACAASQBuAHQAZQBnAHIAYQB0AGkAbwBuACAAVABlAHMAdABpAG4AZwAtAEEANwA5ADUANAAxAEMANQAtAEUAQgAzADIALQA0ADYAMwBCAC0AQgBBADYANgAtADkARQBDAEMANwBCADYAOAA3ADYANQBFAA==
PROD_EU_CONTENT_SERVER_BASE_URL=https://contentserver-eu.agilitycms.com
PROD_EU_FETCH_API_BASE_URL=https://api-eu.aglty.io
PROD_EU_DIRECT_FETCH_API_BASE_URL=https://agility-fetch-api-europe.azurewebsites.net
PROD_EU_MANAGEMENT_API_BASE_URL=https://mgmt-eu.aglty.io

# Preprod Content Server Environment Configuration
PREPROD_CONTENTSERVER_GUID=9de2e54a-ff2f-426c-b424-08ff5f86fa89
PREPROD_CONTENTSERVER_API_KEY_FETCH=defaultlive.b47f945a9af1a76e3f8f78d2f00b314e22bab26f23f3db6e1d22133be00243ac
PREPROD_CONTENTSERVER_API_KEY_PREVIEW=defaultpreview.2d48ab74ab1337b444207510d89988aedf07300bbba33e6771ed0b5d825d47b5
PREPROD_CONTENTSERVER_WEBSITE_NAME=Headless Integration Testing
PREPROD_CONTENTSERVER_SECURITY_KEY=SABlAGEAZABsAGUAcwBzACAASQBuAHQAZQBnAHIAYQB0AGkAbwBuACAAVABlAHMAdABpAG4AZwAtAEEANwA5ADUANAAxAEMANQAtAEUAQgAzADIALQA0ADYAMwBCAC0AQgBBADYANgAtADkARQBDAEMANwBCADYAOAA3ADYANQBFAA==
PREPROD_CONTENTSERVER_CONTENT_SERVER_BASE_URL=https://contentserver-usa-preprod.azurewebsites.net
PREPROD_CONTENTSERVER_FETCH_API_BASE_URL=https://api.aglty.io
PREPROD_CONTENTSERVER_DIRECT_FETCH_API_BASE_URL=https://agility-fetch-api-usa.azurewebsites.net
PREPROD_CONTENTSERVER_MANAGEMENT_API_BASE_URL=https://mgmt.aglty.io

# Preprod Fetch API Environment Configuration
PREPROD_FETCHAPI_GUID=9de2e54a-ff2f-426c-b424-08ff5f86fa89
PREPROD_FETCHAPI_API_KEY_FETCH=defaultlive.b47f945a9af1a76e3f8f78d2f00b314e22bab26f23f3db6e1d22133be00243ac
PREPROD_FETCHAPI_API_KEY_PREVIEW=defaultpreview.2d48ab74ab1337b444207510d89988aedf07300bbba33e6771ed0b5d825d47b5
PREPROD_FETCHAPI_WEBSITE_NAME=Headless Integration Testing
PREPROD_FETCHAPI_SECURITY_KEY=SABlAGEAZABsAGUAcwBzACAASQBuAHQAZQBnAHIAYQB0AGkAbwBuACAAVABlAHMAdABpAG4AZwAtAEEANwA5ADUANAAxAEMANQAtAEUAQgAzADIALQA0ADYAMwBCAC0AQgBBADYANgAtADkARQBDAEMANwBCADYAOAA3ADYANQBFAA==
PREPROD_FETCHAPI_CONTENT_SERVER_BASE_URL=https://contentserver1503.agilitycms.com
PREPROD_FETCHAPI_FETCH_API_BASE_URL=https://api.aglty.io
PREPROD_FETCHAPI_DIRECT_FETCH_API_BASE_URL=https://agility-fetch-api-usa-preprod.azurewebsites.net
PREPROD_FETCHAPI_MANAGEMENT_API_BASE_URL=https://mgmt.aglty.io